---
title: {{talk_name}}
meta_title: ""
description: {{event}}
date: {{date}}
categories: ["{{event}}"]
author: {{author_1}}
draft: false
---
{{abstract}}

<iframe width="560" height="315" src="{{youtube_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>